/.CFUserTextEncoding
/.DS_Store
/.Trash
/.cache
/.config
/.docker
/.git-templates
/.gitconfig
/.gitflow_export
/.gitignore_global
/.gradle
/.h2.server.properties
/.hgignore_global
/.lesshst
/.m2
/.putty
/.sonarlint
/.ssh
/.stCommitMsg
/.viminfo
/.vmware
/.vscode
/.zprofile
/.zprofile.pysave
/.zsh_history
/.zsh_sessions
/.zshrc
/DataGripProjects
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Postman
/Public
/first.txt
/gztest
/java_error_in_idea.hprof
/openAI Key.rtf
/personalWorkspace
/test.mv.db
/test.trace.db
/workspace